<nav>
 <ul>
   <li>
     <a href="index.html"> Home </a>
   </li>
  <li>
     <a href="social.html"> Social </a>
   </li>
  <li>
     <a href="1st.html"> 1st - Infinty war </a>
   </li>
  <li>
     <a href="2nd.html"> 2nd - Raccoon game </a>
   </li>
  <li>
     <a href="Reskin.html"> 3rd - Reskin crossover </a>
   </li>
  <li>
     <a href="3rd.html"> 4th - Flappy fish </a>
   </li>
  <li>
     <a href="4th.html"> 5th - Survival </a>
   </li>
  <li>
     <a href="5th.html"> FMP - Pawsitively Purrfect  </a>
   </li>
 
  
  </ul>
</nav>
